## Deliverable 2. Create a Customer Travel Destinations Map.

In [1]:

# Dependencies and Setup
import pandas as pd
import requests
import gmaps
import numpy as np


# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [2]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("../Weather_Database/WeatherPy_database.csv")
city_data_df.head()

,Unnamed: 0,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Descriptions
0,0,Broken Hill,AU,-31.9500,141.4333,68.00,42,0,8.05,clear sky
1,1,Albany,US,42.6001,-73.9662,46.99,50,38,1.01,scattered clouds
2,2,Rikitea,PF,-23.1203,-134.9692,77.95,74,26,5.28,scattered clouds
3,3,Asău,RO,46.4333,26.4000,37.99,65,57,1.23,broken clouds
4,4,Butaritari,KI,3.0707,172.7902,83.21,73,17,11.56,few clouds

In [3]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
#print('Enter Minimum Temperature:')
#min_temp = input()
min_temp = float(input("What is the minimum temperature you would like for your trip? "))

#print('Enter Maximum Temperature:')
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 60
What is the maximum temperature you would like for your trip? 75

In [4]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.

city_prefered_df = city_data_df.loc[(city_data_df['Max Temp'] >= min_temp) & (city_data_df['Max Temp'] <= max_temp)]
city_prefered_df.head()

,Unnamed: 0,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Descriptions
0,0,Broken Hill,AU,-31.9500,141.4333,68.00,42,0,8.05,clear sky
14,14,Busselton,AU,-33.6500,115.3333,73.00,65,99,3.00,overcast clouds
15,15,Jijiga,ET,9.3500,42.8000,61.57,94,100,7.52,moderate rain
17,17,Hobart,AU,-42.8794,147.3294,66.20,45,20,19.57,few clouds
18,18,Los Llanos de Aridane,ES,28.6585,-17.9182,66.20,72,75,4.61,broken clouds

In [5]:
# 4a. Determine if there are any empty rows.


city_prefered_df.count()

Unnamed: 0              149
City                    149
Country                 145
Lat                     149
Lng                     149
Max Temp                149
Humidity                149
Cloudiness              149
Wind Speed              149
Current Descriptions    149
dtype: int64

In [6]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
clean_df = city_prefered_df.dropna()
clean_df.count()

Unnamed: 0              145
City                    145
Country                 145
Lat                     145
Lng                     145
Max Temp                145
Humidity                145
Cloudiness              145
Wind Speed              145
Current Descriptions    145
dtype: int64

In [7]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = clean_df[["City", "Country", "Max Temp", "Current Descriptions", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Descriptions,Lat,Lng,Hotel Name
0,Broken Hill,AU,68.00,clear sky,-31.9500,141.4333,
14,Busselton,AU,73.00,overcast clouds,-33.6500,115.3333,
15,Jijiga,ET,61.57,moderate rain,9.3500,42.8000,
17,Hobart,AU,66.20,few clouds,-42.8794,147.3294,
18,Los Llanos de Aridane,ES,66.20,broken clouds,28.6585,-17.9182,
19,Arraial do Cabo,BR,74.05,broken clouds,-22.9661,-42.0278,
29,Cabo San Lucas,MX,73.99,overcast clouds,22.8909,-109.9124,
31,Linguère,SN,72.37,scattered clouds,15.3953,-15.1193,
38,São Filipe,CV,71.73,overcast clouds,14.8961,-24.4956,
45,Port Alfred,ZA,71.47,overcast clouds,-33.5906,26.8910,

In [8]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.

for i,row in hotel_df.iterrows():
    #print(row[["Lat","Lng"]])

    # 6c. Get latitude and longitude from DataFrame
    Lat = row["Lat"]
    Lng = row["Lng"]
    Lat_Lng = f"{Lat},{Lng}"
    
    #print(location)
    params['location'] = Lat_Lng
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    
        

    # 6e. Make request and retrieve the JSON data from the search
    response = requests.get(base_url,params).json()    
   
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[i,'Hotel Name'] = response['results'][0]['name']
    except (IndexError):
        print("hotel is not found skip the city")

hotel is not found skip the city
hotel is not found skip the city
hotel is not found skip the city
hotel is not found skip the city
hotel is not found skip the city
hotel is not found skip the city
hotel is not found skip the city
hotel is not found skip the city
hotel is not found skip the city
hotel is not found skip the city
hotel is not found skip the city

In [9]:
hotel_df[hotel_df['Hotel Name'] != ''].count()

City                    134
Country                 134
Max Temp                134
Current Descriptions    134
Lat                     134
Lng                     134
Hotel Name              134
dtype: int64

In [10]:
hotel_df.count()

City                    145
Country                 145
Max Temp                145
Current Descriptions    145
Lat                     145
Lng                     145
Hotel Name              145
dtype: int64

In [11]:
# 7. Drop the rows where there is no Hotel Name.

clean_hotel_df = hotel_df[hotel_df['Hotel Name'] != '']

clean_hotel_df.head(10)

,City,Country,Max Temp,Current Descriptions,Lat,Lng,Hotel Name
0,Broken Hill,AU,68.00,clear sky,-31.9500,141.4333,Royal Exchange Hotel
14,Busselton,AU,73.00,overcast clouds,-33.6500,115.3333,Observatory Guest House
15,Jijiga,ET,61.57,moderate rain,9.3500,42.8000,RAMAAS HOTEL
17,Hobart,AU,66.20,few clouds,-42.8794,147.3294,Mantra on Collins Hobart
18,Los Llanos de Aridane,ES,66.20,broken clouds,28.6585,-17.9182,Valle Aridane
19,Arraial do Cabo,BR,74.05,broken clouds,-22.9661,-42.0278,Pousada Porto Praia
29,Cabo San Lucas,MX,73.99,overcast clouds,22.8909,-109.9124,Hotel Tesoro Los Cabos
31,Linguère,SN,72.37,scattered clouds,15.3953,-15.1193,Hôtel Amadou Seck
38,São Filipe,CV,71.73,overcast clouds,14.8961,-24.4956,Tortuga B&B
45,Port Alfred,ZA,71.47,overcast clouds,-33.5906,26.8910,The Halyards Hotel

In [12]:
# 8a. Create the output File (CSV)
output_data_file = 'WeatherPy_vacation.csv'

# 8b. Export the City_Data into a csv
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

In [13]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [14]:
# 11a. Add a marker layer for each city to the map. 

fig = gmaps.figure()
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)

# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))